$border: #424B54;
* {
    border: 0;
    margin: 0;
    position: 0;
}


body {
    background: #EDEAD0;
}

.container {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    transform: scale(0.7);
}

.container>* {
    position: absolute;
}

.shop>* {
    position: absolute;
}

.shop {
    width: 400px;
    height: 200px;
    background: #EDDEA4;
    border: 5px solid $border;
}

.light {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #FFCF56;
    border: 5px solid $border;
    margin:{
    	left:-5rem;
    	top:2rem;
    }
    &:before,&:after{
    	position:absolute; 
    	content:'';
    }
    &:before{
    	width: 5px; 
    	height:30px; 
    	background-color:$border;
    	margin:{
    		top:1.9rem;
    		left:.6rem;
    	}
    }
    &:after{
    	width:60px; 
    	height:5px;
    	background-color: $border;
    	margin:{
    		left:.78rem;
    		top:3.5rem;
    	}
    }
}
.top-still{
	width: 500px; 
	height: 30px;
	background:#FFF;
	border:5px solid $border;
	margin:{
		top:-2rem;
		left:-3.5rem;
	}
}